{% extends 'engine/base.html' %}
{% load static %}

{% block head_title %}
    CVAT Operators Stats
{% endblock %}

{% block head_css_3rdparty %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stats/css/3rdparty/bootstrap.min.css' %}">
{% endblock %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stats/css/stylesheet.css' %}">
{% endblock %}

{% block head_js_3rdparty %}
    {{ block.super }}
    <script type="application/javascript" {% static 'stats/js/3rdparty/bootstrap.min.js' %}></script>
    {% for js_file in js_3rdparty %}
        <script type="text/javascript" src="{% static js_file %}" defer></script>
    {% endfor %}
{% endblock %}

{% block head_js_cvat %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'stats/js/stats.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-3 tiles-container"></div>
            <div class="col-md-9 stats-table-container">
                {% include 'stats/inc/stats_table.html' %}
            </div>
        </div>
    </div>
{% endblock content %}