{% extends 'engine/base.html' %}
{% load static %}

{% block head_title %}
    CVAT Operators Stats
{% endblock %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'stats/stylesheet.css' %}">
{% endblock %}

{% block head_js_3rdparty %}
    {{ block.super }}
    {% for js_file in js_3rdparty %}
        <script type="text/javascript" src="{% static js_file %}" defer></script>
    {% endfor %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
{% endblock %}

{% block head_js_cvat %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'stats/js/stats.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="content">
        <div class="row">
            <div style="height: 100vw; max-height: 100vw;" class="col-md-3 tiles-container"></div>
            <div class="col-md-9">
                {% include 'stats/inc/stats_table.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
